#chat-screen{
    background-color: #abc1d1;
}

.chat-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.chat_timestamp{
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 12px;
    color: white;
    background-color: #92a4b2;
    border-radius: 24px;
    font-size: 14px;
}

.message-row{
    width: 100%; /*필수*/
    display:flex;
    margin-bottom: 24px;
}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 16px;
    margin-right: 16px;
}

.message-text{
    display: flex;
    align-items: flex-end;
}

.message-author{
    color: var(--text--grey__dark);
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.message_bubble{
     background-color: white;
     padding: 12px 12px;
     border-radius: 12px;
     border-top-left-radius: 0px;
     margin-right: 6px;
     font-size: 18px;
}

.message_time{
    color: var(--text--grey__dark);
    font-size: 14px;
}

.message-row__own{
    justify-content: flex-end;
}

.message-row__own .message_bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 12px;
    margin-right: 0px;
    margin-left: 6px;
}

.message-row__own .message-text{
    flex-direction: row-reverse;
}

