#friends-display{
    display:flex;
    justify-content: center;
    align-items: center;
}

#friends-display-link{
    display: flex;
    /* position: relative;
    top:112px; */
    width:100%;
    padding: 16px;
    font-size:1rem;
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
}

#friends-display-link i{
    color: rgb(205, 205, 205);
    padding: 0px 8px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}


.friends-screen__channel{
    margin: 32px 0px;
    padding-top: 16px;
    border-top: 0.5px solid;
    border-color: #bababa;
}

.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-screen__channel i{
    color: var(--text--grey);
}