#container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#friends-display-link{
    display: flex;
    position: relative;
    top:112px;
    width:100%;
    padding: 16px;
    font-size:1rem;
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
}

#friends-display-link i{
    color: rgb(205, 205, 205);
    padding: 0px 8px;
}
