.nav{
    position: fixed;
    bottom:0px;
    width:100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgb(216, 216, 216);
}

.nav__list{
    display:flex;
    justify-content: space-between;
}

.nav__link{
    position:relative;
    color:#2e363e;
}

.nav__notification{
    /* position relative를 기준으로 함*/
    position:absolute;
    left:18px;
    bottom: 12px;
}

.nav__notification__dot{
    background-color: tomato;
    width:5px;
    height: 5px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    /* position relative를 기준으로 함*/
    position:absolute;
    left:24px;
    top: -10px;
}