.screen-header{
  display:flex;
  /* position: fixed;
  top: 40px; */
  width: 100%;
  padding: 20px 20px;
  align-items: center; 
  box-sizing: border-box;
  justify-content: space-between;
  background-color: white;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.screen-header__icons span{
 padding: 0px 8px;
}