
.status-bar{
    /* position: fixed; */
    display: flex;
    top:0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: white;
}

.status-bar__column:last-child span{
    margin-right: 4px;
}
.fa-solid {
    padding: 4px;
}

.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

