
.user-component{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    /* position: absolute;
    top: 200px; */
}

.user-component__column{
    display:flex;
    align-items: center;
}

.user-component__profile{
    width:72px;
    height:72px;
    margin-right: 20px;
}

.user-component__profile--xl{
    width:80px;
    height:80px;
    border-radius: 30px;
}

.user-component__profile--sm{
    width:70px;
    height:70px;
    border-radius: 26px;
}

.user-component__name--bold{
    font-size: 1.25rem;
    font-weight: 600;
}

.user-component__name--not--bold{
    font-weight: 400;
}

.user-component__desc{
    margin-top:8px;
    color:var(--text--grey);
    font-size: 0.9rem;
}

.user-component__column:last-child{
    color: var(--text--grey);
}

.user-component__column-desc{
    /* display:flex; */
    /* flex-direction: column; */
}

.user-component__time{
    display: block;
    margin-bottom: 8px;
}